api/src/main/java/org/openmrs/module/chica/xmlBeans/medicationListExceptions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="unfilteredMedications">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="medication" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="medication">
        <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="system" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>

