src/org/openmrs/module/chica/xmlBeans/scorableJITConfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="value">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="plus"/>
				<xs:element ref="mean"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mean">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Field" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="plus">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Field" maxOccurs="unbounded"/>
				<xs:element ref="choose" maxOccurs="unbounded"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="scores">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="score" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="then">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cn"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="score">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="concept"/>
				<xs:element ref="value"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="language_answers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="language" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="if">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="geq"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Field" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="geq">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Field"/>
				<xs:element ref="cn"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="form_config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="scores"/>
				<xs:element ref="language_answers" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="concept">
		<xs:complexType>
			<xs:attribute name="system" type="xs:string" use="required"/>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cn" type="xs:string"/>
	<xs:element name="choose">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="if"/>
				<xs:element ref="then"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Field">
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
